body{
  margin: 0;
  padding: 0;
  a{
    text-decoration: none;
  }
  .content{
    width: 480px;
    margin: 0 auto;
    @media screen and (min-width:1170px){
      width: 1170px; 
  }}
  hr{
    width: 40px;
    border: 1px solid #29323c;
}}
@import "normalize/import-now";
@import 'utils/variables';
@import 'base/basic';
@import 'layout/grid';
@import 'layout/header';
@import 'layout/services';
@import 'layout/contact';
@import 'layout/works';
@import 'layout/clients';
@import 'layout/team';
@import 'layout/partners';
@import 'layout/pricing';
@import 'layout/footer';
@import 'pages/home';