footer{
  padding: 10px 0 10px 0;
  text-align: center;
  @media screen and (min-width: 1170px){
    padding: 50px 0 50px 0;
  }
  .footer_block{
    display: flex;
    flex-direction: column;
  @media screen and (min-width: 1170px){
    flex-direction: row;
    justify-content: space-between;
  }}
  .footer__text_left{
  @media screen and (min-width: 1170px){
    display: flex;
    flex-direction: row;
  }}
  .footer__text_right{
  @media screen and (min-width: 1170px){
    display: flex;
    flex-direction: row;
  }}
  .footer__link{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .footer__radius{
    width: 35px;
    height: 35px;
    margin: 5px;
    background: #29323c;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;  
}}