header{
  background: url(../img/bg_header.png) center center;
  background-size: cover;
  color: #ffffff;
  .header__bg{
    width: 100%;
    height: 100%;
    background: rgba(72,85,99,0.7);
  }
  .header__menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}}
.header__menu__text{
  padding-top: 15px; 
}
a{
  text-decoration: none;
  color: white;  
  transition: color 0.3s ease;
}
a:hover{
  color:  wheat;
}
.header__menu__text{
  display: flex;
  flex-direction: row;
  p{
    margin-right: 20px;
}}
.menuToggle{
  display: block;
  position: relative;
  top: 15px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
.menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
.menuToggle span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;      
  z-index: 1;
  transform-origin: 4px 0px;    
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}    
.menuToggle span:first-child{
  transform-origin: 0% 0%;
}   
.menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}
.menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #d6d6d6;
}
.menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.menuToggle input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
}
.menu{
  position: absolute;
  width: 2000px;
  margin: -200px 0 0 -70px;
  padding: 50px;
  padding-top: 190px;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
.menu li{
  padding: 10px 0;
  font-size: 22px;
}
.menuToggle input:checked ~ ul{
  transform: none;
}
.header__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -20px;
  text-align: center;
  @media screen and (min-width:1170px){
    margin-top: 130px;
}}
.header__btn{
  width: 127px;
  height: 40px;
  margin-top: 20px;
  background: transparent;
  border: 1px #fff solid;
  border-radius: 40px;
  margin-bottom: 145px;
  color: #fff;
}
.header__btn:hover{
  transform: scale(1.2);
}
.header__arrow{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #f2f2f2;
  opacity: 0.7;
  margin-bottom: 30px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;  
  @media screen and (min-width:1170px){
    margin-bottom: 80px;
  }
  img:hover{
    transform: scale(1.3);
}}