.pricing{
  padding-top: 90px;
  padding-bottom: 117px;
  text-align: center;
}
.pricing__table{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  @media screen and (min-width:1170px){
    flex-direction: row;
}}
.pricing__table__block{
  display: flex;
  flex-direction: column;
  width: 385px;
  border: 1px grey solid;
}
.pricing__table__block:hover{
  transform: scaleY(1.1);
  border-top: 5px #485563 solid;
}    
.pricing__price{

  display: flex;
  flex-direction: column;
}
h3{
  font-size: 20px;
}
.price{
  font-size: 45px;
  margin: 0;
}
.month{
  font-size: 14px;
  margin: 0;
}
.pricing__line{
  width: 100%;
  color: grey;
}
.pricing-description{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 70px;
  height: 360px;
}
.pricing__btn{
  width: 125px;
  height: 40px;
  background: #485563;
  border: none;
  border-radius: 20px;
  color: #fff;
  text-transform: uppercase;
}
.pricing__btn:hover{
  color: #485563;
  background: #fff;
  border: 1px #485563 solid;
  transform: scale(1.2);
} 